*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 48px;
    text-transform: uppercase; 
    letter-spacing: 5px;  
}
h2{
    font-size: 20px;
    text-align: center;
    padding: 100px 0 25px 0;
    text-transform: uppercase;
    color: #555;
}
h4{
    margin-top: 25px;
    color: #555;
}
h5{
    text-transform: uppercase;
}
.wrap{
    max-width: 1140px;
    margin: 0 auto;
}
// ---------------------------------------------------HEADER
header{
    height: 100vh;
    background-image: url(../../img/HeaderBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .wrap{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}
.button{
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #fff;
    font-style: 16px;
    line-height: 50px;
    &:hover{
        background-color: rgba(0, 0, 0, 0.6);
    }
}
menu{
    display: flex;
    flex-wrap: wrap;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    a{
        color: #fff;
        text-decoration: none;
        margin-left: 35px;
        &:hover{
            color: aqua;
        }
    }
}
li{
    display: inline-block;
}
.header-content{
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 12%;
    h3{
        font-weight: 100;
        margin: 35px 0 55px 0;
    }
}
// ---------------------------------------------------SERVICES
.services{
    text-align: center;
}
.services-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards{
    max-width: 340px;
    padding: 75px 0 100px 0;
    p{
        font-size: 12px;
    }
    h5{
        margin: 30px 0 25px 0;
    }
}
// ---------------------------------------------------ABOUT US
.about-us{
    background-color: #f8f8f8;
    text-align: center;
}
.about-us-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    text-align: start;
    justify-content: space-between;
    font-size: 14px;
    div{
        max-width: 560px;
    }
}
.about-us-slider{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 75px 0 100px 0;
}
.slider-cards{
    h5{
        margin: 20px 0 15px 0;
    }
    p{
        font-size: 13px;
    }
}
// ---------------------------------------------------GALLERY
.gallery{
    text-align: center;
}
.gallery-menu{
    a{
        color: #000;
        text-decoration: none;
        font-size: 16px;
        &:hover{
            color: #c0301c;
        }
    }
    li{
        margin: 30px 12px 0 12px;
    }
}
.gallery-pictures{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 25px;
}
.gallery-pictures-prew{
    width: 360px;
    height: 320px;
    margin-bottom: 30px;
}
// ---------------------------------------------------WORK
.work{
    background-image: url(../../img/workbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 95px 0;
    p{
        color: #fff;
        font-size: 30px;
        margin-bottom: 50px;
    }
}
// ---------------------------------------------------BLOG
.blog{
    text-align: center;
    h4{
        margin-bottom: 70px;
    }
}
.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.posts:last-child{
    margin-bottom: 100px;
}
hr{
    margin: 35px 0;
}
.public-date{
    text-align: center;
    display: block;
    border: 2px solid #000;
    width: 69px;
    padding: 5px 0;
    margin: 0 25px 20px 0;
    font-size: 23px;
    font-weight: bold;
    color: #777;
}
.post-content-header{
    display: flex;
    h4{
        margin: 10px 0;
    }
    p{
        font-style: italic;
    }
}
.post-content{
    text-align: start;
    padding: 0 0 0 30px;
    max-width: 650px;
    p{
        font-size: 14px;
    }
    a{
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        margin-top: 55px;
        font-weight: bold;
        color: #c84a38;
        &:hover{
            color: #555;
        }
    }
}
// ---------------------------------------------------OUR RILETIONS
.our-clients{
    background-color: #f8f8f8;
    text-align: center;
    padding: 95px 0;
    .wrap{
        max-width: 920px;
    }
    ul{
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        align-items: center;
        margin-bottom: 65px;
    }
}
.clients-content{
    p{
        font-size: 20px;
    }
    .our-clients-text{
        font-style: italic;
        font-size: 18px;
        margin-bottom: 35px;
    }
}
// ---------------------------------------------------FORM
.get-in-toch{
    text-align: center;
    padding-bottom: 100px;
    .form-left{
        text-align: left;
        h5{
            margin-bottom: 12px;
        }
        h5:not(:first-child){
            margin-top: 37px;
        }
        p{
            font-size: 12px;
            font-style: italic;
        }
    }
}
.form{
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input, textarea{
        display: block;
        border: 1px solid #555;
        margin-bottom: 20px;
    }
}
form{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 760px;
}
input[name=name], [name=mail], [name=subject], [name=company_name]{
    height: 40px;
    width: 340px;
    padding-left: 10px;
}
textarea{
    padding: 10px 10px;
    width: 710px;
    height: 80px;
}
input:last-child{
    width: 170px;
    height: 45px;
    margin-bottom: 0;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    &:hover{
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}
// ---------------------------------------------------FOOTER
footer{
    background-color: #c0301c;
    padding: 50px 0 50px 0;
    text-align: center;
    li:not(:last-child) {
        margin-right: 12px;
    }
    img{
        margin: 20px 0;
    }
    p{
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
    }
}
// ---------------------------------------------------MEDIA

@media (min-width: 768px) and (max-width: 1024px) {
    h2{
        padding: 20px 0 20px 0;
    }
    .about-us-slider{
        justify-content: center;
    }
    .slider-cards{
        margin: 5px;
    }
    nav{
        flex-direction: column;
        justify-content: center;
        .logo{
            margin: 0 auto;
        }
        menu{
            margin: 10px auto 0 auto;
            a{
                margin: 0 15px;
            }
        }
    }
    .services-content{
        justify-content: space-around;
        margin: 20px 0;
    }
    .cards{
        padding: 0;
    }
    .about-us-content{
        justify-content: space-around;
        text-align: center;
        margin-top: 20px;
        p{
            margin-bottom: 10px;
        }
    }
    .about-us-slider{
        padding: 20px 0;
    }
    .gallery-pictures, .posts{
        justify-content: space-around;
    }
    .post-content{
        text-align: center;
    }
    .post-content-header{
        flex-direction: column;
        .public-date{
            margin: 0 auto;
        }
    }
    .get-in-toch{
        .form{
            justify-content: space-around;
            form{
                margin-top: 25px;
            }
        }
        .form-left{
            text-align: center;
        }
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    h2{
        padding: 20px 0 20px 0;
    }
    .about-us-slider{
        justify-content: center;
    }
    .slider-cards{
        margin: 5px;
    }
    nav{
        flex-direction: column;
        justify-content: center;
        .logo{
            margin: 0 auto;
        }
        menu{
            margin: 10px auto 0 auto;
            justify-content: center;
            a{
                margin: 0 15px;
            }
        }
    }
    .services-content{
        justify-content: space-around;
        margin: 20px 0;
    }
    .cards{
        padding: 0;
    }
    .about-us-content{
        justify-content: space-around;
        text-align: center;
        margin-top: 20px;
        p{
            margin-bottom: 10px;
        }
    }
    .about-us-slider{
        padding: 20px 0;
    }
    .gallery-pictures, .posts{
        justify-content: space-around;
    }
    .post-content{
        text-align: center;
    }
    .post-content-header{
        flex-direction: column;
        .public-date{
            margin: 0 auto;
        }
    }
    .get-in-toch{
        padding-bottom: 20px;
        .form{
            justify-content: space-around;
            form{
                flex-direction: column;
                margin-top: 25px;
            }
        }
        .form-left{
            text-align: center;
        }
        form{
            max-width: 760px;
        }
        input{
            margin: 5px auto;
        }
        input:not(:last-child){
            width: 450px;
        }
        textarea{
            width: 440px;
            margin: 5px auto;
        }
    }
}
  